extends ../shared/baseView

block main-content
    .well
        img(src="#{current.picture}", alt="some_text", width="200", class="pull-right")
        div
            .row
                h2 #{current.username}
            .row
                .col-sm-2.table-bordered
                    strong First name
                .col-sm-10.table-bordered #{current.firstName}
            .row
                .col-sm-2.table-bordered
                    strong Last name
                .col-sm-10.table-bordered #{current.lastName}
            .row
                .col-sm-2.table-bordered
                    strong Email
                .col-sm-10.table-bordered #{current.email}
            .row
                .col-sm-2.table-bordered
                    strong Points
                .col-sm-10.table-bordered #{current.rating}
            .row
                .col-sm-2.table-bordered
                    strong Youtube profile
                .col-sm-10.table-bordered #{current.youtube}
            .row
                .col-sm-2.table-bordered
                    strong Facebook profile
                .col-sm-10.table-bordered #{current.facebook}
        .row(style="height: 20px")
        if (current._id.toString() === currentUser._id.toString())
            .row
                .col-lg-2
                    a.btn.btn-md.btn-info(href="/edit-user") Edit profile
        .row(style="height: 30px")
        block edit-user-content
        block eventsList

