<table class="table table-hover table table-bordered">
    <thead>
        <tr>
            <th class="alert-danger">Category</th>
            <th class="alert-danger">Name</th>
            <th class="alert-danger">Description</th>
            <th class="alert-danger">Company</th>
            <th class="alert-danger">Location</th>
        </tr>
    </thead>
    <tr data-id="44{{id}}">
        <td class="alert-danger">Category</td>
        <td class="alert-danger">Name</td>
        <td class="alert-danger">Description</td>
        <td class="alert-danger">Company</td>
        <td class="alert-danger">Location</td>
        <td class="alert-danger"><button class="cancel-btn">Cancel</button></td>
    </tr>
    <!-- {{#each result}}
         <tr class="active">
             <td class="success col-sm-2"><strong>{{category}}</strong></td>
             <td class="success col-sm-2">{{name}}</td>
             <td class="success col-sm-2"><strong>{{description}}</td>
             <td class="success col-sm-2">{{company}}</td>
             <td class="success col-sm-2">{{location}}</td>
             <td class="success col-sm-2"><button id="cancel-{{name}}-btn"></button></td>
         </tr>
     {{/each}}-->
</table>