<div class="well">
    Fortune Cookie
    <div class="form-group">
        <table class="table table-hover table table-bordered">
            <thead>
            <tr>
                <th class="alert-danger">Text</th>
                <th class="alert-danger">Category</th>
                <th class="alert-danger">ID</th>
                <th class="alert-danger">Shared at</th>
                <th class="alert-danger">From user ID</th>
                <th class="alert-danger">Likes</th>
                <th class="alert-danger">Dislikes</th>
                <th class="alert-danger">Link</th>
                <th class="alert-danger">Time left</th>
            </tr>
            </thead>
                <tr class="active">
                    <td class="success col-sm-2"><strong>{{result.text}}</strong></td>
                    <td class="success col-sm-2">{{result.category}}</td>
                    <td class="success col-sm-2" >{{result.id}}</td>
                    <td class="success col-sm-2">{{result.shareDate}}</td>
                    <td class="success col-sm-2">{{result.userId}}</td>
                    <td class="success col-sm-2">{{result.likes}}</td>
                    <td class="success col-sm-2">{{result.dislikes}}</td>
                    <td class="success col-sm-2">{{result.img}}</td>
                    <td class="success col-sm-2">{{result.hours}}</td>
                </tr>

        </table>
    </div>
</div>