extends shared/baseView

block main-content
    .jumbotron.text-center.container-fluid
        h1 Welcome to Telerik event system
        h3 Choose your destiny :)
    .container
        p
        | The site is under construction.......
    .container
        if (usersCount)
            table.table.table-striped.table-bordered.table-hover
                thead
                    th.text-center Total users
                    th.text-center Total events
                tbody
                    tr.warning
                        td.text-center #{usersCount}
                        td.text-center #{eventsCount}
        .row.text-center PASSED EVENTS
        table.table.table-striped.table-bordered.table-hover
            thead
                th.text-center Title
                th.text-center Organization points
                th.text-center Venue points
                th.text-center Overall evaluation
            tbody
                each event in eventsList
                    tr.warning
                        td.text-center.small #{event.title}
                        td.text-center.small #{event.organizationPoints}
                        td.text-center.small #{event.venuePoints}
                        td.text-center.small ((#{event.venuePoints} + #{event.organizationPoints}) / 2)