.container
    table.table.table-striped.table-bordered.table-hover
        thead
            th.text-center Title
            th.text-center Organization points
            th.text-center Venue points
            th.text-center Overall evaluation
        tbody
            each event in eventsList
                tr.warning
                    td.text-center #{event.title}
                    td.text-center #{event.organizationPoints}
                    td.text-center #{event.venuePoints}
                    td.text-center ((#{event.venuePoints} + #{event.organizationPoints}) / 2)